In [17]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score,recall_score,precision_score

In [18]:
df = pd.read_csv("Social_Network_Ads.csv")
print(df.head())
print(df.info())
print(df.describe())

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB
None
            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [19]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [20]:
le=LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [21]:
df.drop('User ID',axis=1,inplace=True)

In [22]:
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [23]:
# Encoding categorical variables
# df.loc[df["Gender"] == "Male", "Gender"] = 0
# df.loc[df["Gender"] == "Female", "Gender"] = 1
le=LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])


# Min-max normalization for the features
def min_max_normalize(feature):
    df[feature] = (df[feature] - df[feature].min()) / (df[feature].max() - df[feature].min())

min_max_normalize("EstimatedSalary")
min_max_normalize("Age")

In [24]:
X=df.drop('Purchased',axis=1)

In [25]:
y=df['Purchased']

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [28]:
model=LogisticRegression()

In [29]:
model.fit(X_train,y_train)

LogisticRegression()

In [31]:
y_pred=model.predict(X_test)

In [32]:
cm=confusion_matrix(y_test,y_pred)

In [33]:
print(cm)

[[51  1]
 [ 9 19]]

In [ ]:
T