Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open-source dataset (e.g.,
data.csv)
1. Provide summary statistics (mean, median, minimum,
maximum, standard deviation) for a dataset (age, income etc.)
with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable
is age groups and quantitative variable is income, then provide
summary statistics of income grouped by the age groups. Create
a list that contains a numeric value for each response to the
categorical variable.
2. Write a Python program to display some basic statistical details
like percentile, mean, standard deviation etc. of the species of
â€˜Iris-setosaâ€™, â€˜Iris-versicolorâ€™ and â€˜Iris- versicolorâ€™ of iris.csv
dataset.
Provide the codes with outputs and explain everything that you do in
this step.

## ðŸ“˜ Statistical Concepts and Functions

### **Mean**

The **mean** is the average of a dataset. It is calculated by summing all the values and dividing by the total number of values.  
The formula for mean is:
\[
\text{Mean} = \frac{\sum x_i}{n}
\]

### **Mode**

The **mode** is the value that appears most frequently in a dataset. A dataset can have one mode (unimodal), two modes (bimodal), multiple modes (multimodal), or no mode at all. The mode represents the most common value in the dataset.

### **Median**

The **median** is the middle value of a dataset when the values are sorted in ascending order.  
- If the dataset contains an odd number of values, the median is the middle value.
- If the dataset contains an even number of values, the median is the average of the two middle values.

### **Central Tendency**

**Central tendency** refers to statistical measures that indicate the central point or typical value in a dataset.  
The three main measures of central tendency are:
- **Mean**: The arithmetic average of all values.
- **Median**: The middle value when data is ordered.
- **Mode**: The value that occurs most frequently.

### **Variability**

**Variability** (or dispersion) refers to the extent to which the values in a dataset differ from each other and from the mean. It provides insights into the spread of data.  
The main measures of variability include:
- **Range**: The difference between the maximum and minimum values.
- **Variance**: The average of squared differences from the mean.
- **Standard Deviation**: The square root of the variance, representing spread in the same units as the data.

### **`groupby()` Function**

The `groupby()` function in Pandas is used to group data based on one or more columns and then perform aggregate operations such as sum, mean, or count. This helps in summarizing and analyzing data in smaller subsets.

**Example**:
```python
df.groupby('Department')['Salary'].mean()
```
This code groups the dataset by the 'Department' column and calculates the average salary for each department.

### **`transpose()` Function**

The `transpose()` function is used to switch rows and columns in a DataFrame or matrix. It allows you to convert the layout of the data for easier analysis or visualization.

**Example**:
```python
df.T
```
This will transpose the DataFrame, turning rows into columns and columns into rows.

### **`value_counts()` Function**

The `value_counts()` function counts the frequency of unique values in a dataset. It is especially useful for categorical data to determine how many times each category appears.

**Example**:
```python
df['Gender'].value_counts()
```
This will count the occurrences of each unique value in the 'Gender' column, such as Male: 50, Female: 45.

### **Measures of Central Tendency**

Measures of central tendency help describe the center of a distribution and include:
- **Mean**: The average value of the dataset.
- **Median**: The middle value in a sorted dataset.
- **Mode**: The most frequent value in the dataset.

### **Measures of Variability**

Measures of variability describe the spread of data and give insights into the consistency or diversity of the values in a dataset. The most common measures are:
- **Range**: The difference between the highest and lowest values in the dataset.
- **Variance**: The average of the squared differences from the mean.
- **Standard Deviation**: The square root of the variance, giving the spread in the same units as the data.
- **Interquartile Range (IQR)**: The difference between the third and first quartiles, representing the spread of the middle 50% of the data.

EmployeeSalary Dataset

In [2]:
import numpy as np
import pandas as pd

# Load dataset
data = pd.read_csv("Employee_Salary.csv")

In [3]:
# Basic checks
print(data.shape)
print(data.head())
print(data.dtypes)
print(data.isnull().sum())

(35, 5)
   ID  Experience  Age  Gender  Salary
0   1         5.0   28  Female  250000
1   2         1.0   21    Male   50000
2   3         3.0   23  Female  170000
3   4         2.0   22    Male   25000
4   5         1.0   17    Male   10000
ID              int64
Experience    float64
Age             int64
Gender         object
Salary          int64
dtype: object
ID            0
Experience    1
Age           0
Gender        1
Salary        0
dtype: int64

In [4]:
# Fill missing 'Experience' with median (numerical)
experience_median = data['Experience'].median()
data['Experience'].fillna(experience_median, inplace=True)
print(f"\nFilled missing Experience with median: {experience_median}")

Filled missing Experience with median: 5.5

/tmp/ipykernel_9629/1680476305.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Experience'].fillna(experience_median, inplace=True)

In [5]:
# Fill missing 'Gender' with mode (categorical)
gender_mode = data['Gender'].mode()[0]
data['Gender'].fillna(gender_mode, inplace=True)
print(f"Filled missing Gender with mode: {gender_mode}")

Filled missing Gender with mode: Female

/tmp/ipykernel_9629/2256599599.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Gender'].fillna(gender_mode, inplace=True)

In [6]:
# Mean salary
salary_mean = data['Salary'].mean()
print(f"\nMean Salary: {salary_mean}")

Mean Salary: 2059147.142857143

In [7]:
# Value counts for Age and Gender
print("\nAge value counts:\n", data['Age'].value_counts())
print("\nGender value counts:\n", data['Gender'].value_counts())

Age value counts:
 Age
54    6
21    5
23    3
26    2
62    2
22    2
29    2
36    2
34    2
28    1
17    1
39    1
40    1
27    1
18    1
55    1
53    1
49    1
Name: count, dtype: int64

Gender value counts:
 Gender
Female    18
Male      17
Name: count, dtype: int64

In [9]:
# Group by Age and calculate descriptive stats on Salary
age_salary_stats = data.groupby('Age')['Salary'].agg([np.mean, np.median, np.min, np.max, np.std])
print("\nGroupBy Age -> Salary stats:\n", age_salary_stats)

GroupBy Age -> Salary stats:
              mean     median      min       max           std
Age
17   1.000000e+04    10000.0    10000     10000           NaN
18   3.000000e+03     3000.0     3000      3000           NaN
21   1.722000e+04     9000.0     6000     50000  1.868534e+04
22   2.250000e+04    22500.0    20000     25000  3.535534e+03
23   6.213333e+04     8900.0     7500    170000  9.341790e+04
26   1.375000e+05   137500.0    25000    250000  1.590990e+05
27   8.700000e+04    87000.0    87000     87000           NaN
28   2.500000e+05   250000.0   250000    250000           NaN
29   4.122500e+06  4122500.0  1400000   6845000  3.850196e+06
34   5.050000e+05   505000.0    80000    930000  6.010408e+05
36   1.957500e+05   195750.0    61500    330000  1.898582e+05
39   6.000050e+06  6000050.0  6000050   6000050           NaN
40   2.201000e+05   220100.0   220100    220100           NaN
49   7.600000e+06  7600000.0  7600000   7600000           NaN
53   9.300000e+06  9300000.0  9300000   9300000           NaN
54   3.636667e+06  2950000.0   650000   7900000  3.258691e+06
55   1.540000e+06  1540000.0  1540000   1540000           NaN
62   7.500500e+06  7500500.0  5001000  10000000  3.534827e+06

/tmp/ipykernel_9629/2497164046.py:2: FutureWarning: The provided callable <function mean at 0x744d260a9260> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  age_salary_stats = data.groupby('Age')['Salary'].agg([np.mean, np.median, np.min, np.max, np.std])
/tmp/ipykernel_9629/2497164046.py:2: FutureWarning: The provided callable <function median at 0x744d255c3060> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  age_salary_stats = data.groupby('Age')['Salary'].agg([np.mean, np.median, np.min, np.max, np.std])
/tmp/ipykernel_9629/2497164046.py:2: FutureWarning: The provided callable <function min at 0x744d260a89a0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  age_salary_stats = data.groupby('Age')['Salary'].agg([np.mean, np.median, np.min, np.max, np.std])
/tmp/ipykernel_9629/2497164046.py:2: FutureWarning: The provided callable <function max at 0x744d260a8860> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  age_salary_stats = data.groupby('Age')['Salary'].agg([np.mean, np.median, np.min, np.max, np.std])
/tmp/ipykernel_9629/2497164046.py:2: FutureWarning: The provided callable <function std at 0x744d260a93a0> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  age_salary_stats = data.groupby('Age')['Salary'].agg([np.mean, np.median, np.min, np.max, np.std])

In [11]:
# Save summary to CSV
age_salary_stats.to_csv("age_salary_summary.csv", index=True)
print("\nSaved 'age_salary_summary.csv'.")
data1 = pd.read_csv('age_salary_summary.csv')
data1.head()

Saved 'age_salary_summary.csv'.

   Age          mean   median    min     max           std
0   17  10000.000000  10000.0  10000   10000           NaN
1   18   3000.000000   3000.0   3000    3000           NaN
2   21  17220.000000   9000.0   6000   50000  18685.341849
3   22  22500.000000  22500.0  20000   25000   3535.533906
4   23  62133.333333   8900.0   7500  170000  93417.896216

In [10]:
# Filter: Males with Experience > 5 years
filtered_data = data[(data['Gender'] == 'Male') & (data['Experience'] > 5)]
print("\nMales with Experience > 5 years:\n", filtered_data)

# Additional GroupBy: Gender-wise average salary
gender_salary = data.groupby('Gender')['Salary'].mean()
print("\nGender-wise average salary:\n", gender_salary)

Males with Experience > 5 years:
     ID  Experience  Age Gender   Salary
5    6        25.0   62   Male  5001000
11  12         6.0   29   Male  1400000
12  13        14.0   39   Male  6000050
13  14         5.5   40   Male   220100
19  20        10.0   36   Male   330000
20  21        15.0   54   Male  6570000
30  31        10.0   34   Male    80000
31  32        15.0   54   Male   900000
34  35        16.0   49   Male  7600000

Gender-wise average salary:
 Gender
Female    2.054917e+06
Male      2.063626e+06
Name: Salary, dtype: float64

In [13]:
# Descriptive stats of whole dataset
print("\nOverall Descriptive Statistics:\n", data.describe(include='all'))

Overall Descriptive Statistics:
                ID  Experience        Age  Gender        Salary
count   35.000000   35.000000  35.000000      35  3.500000e+01
unique        NaN         NaN        NaN       2           NaN
top           NaN         NaN        NaN  Female           NaN
freq          NaN         NaN        NaN      18           NaN
mean    18.000000    9.042857  35.485714     NaN  2.059147e+06
std     10.246951    7.571591  14.643552     NaN  3.170124e+06
min      1.000000    1.000000  17.000000     NaN  3.000000e+03
25%      9.500000    2.500000  22.500000     NaN  2.250000e+04
50%     18.000000    5.500000  29.000000     NaN  2.500000e+05
75%     26.500000   15.000000  53.500000     NaN  3.270000e+06
max     35.000000   27.000000  62.000000     NaN  1.000000e+07

Iris Dataset

In [15]:
# Load Iris dataset
df = pd.read_csv("Iris.csv")

# Basic Info
print(f"Shape: {df.shape}")
print(df.head())
print(df.dtypes)
print(df.isnull().sum())

Shape: (150, 6)
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [16]:
# Species-wise count
print(df['Species'].value_counts())

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [22]:
# Function to get descriptive stats for each species
def get_species_stats(df):
    species_groups = df.groupby('Species')
    for species, group in species_groups:
        print(f"--- Statistics for {species} ---")
        print(group.describe().transpose(), end="\n\n")

get_species_stats(df)

--- Statistics for Iris-setosa ---
               count    mean        std  min     25%   50%     75%   max
Id              50.0  25.500  14.577380  1.0  13.250  25.5  37.750  50.0
SepalLengthCm   50.0   5.006   0.352490  4.3   4.800   5.0   5.200   5.8
SepalWidthCm    50.0   3.418   0.381024  2.3   3.125   3.4   3.675   4.4
PetalLengthCm   50.0   1.464   0.173511  1.0   1.400   1.5   1.575   1.9
PetalWidthCm    50.0   0.244   0.107210  0.1   0.200   0.2   0.300   0.6

--- Statistics for Iris-versicolor ---
               count    mean        std   min     25%    50%    75%    max
Id              50.0  75.500  14.577380  51.0  63.250  75.50  87.75  100.0
SepalLengthCm   50.0   5.936   0.516171   4.9   5.600   5.90   6.30    7.0
SepalWidthCm    50.0   2.770   0.313798   2.0   2.525   2.80   3.00    3.4
PetalLengthCm   50.0   4.260   0.469911   3.0   4.000   4.35   4.60    5.1
PetalWidthCm    50.0   1.326   0.197753   1.0   1.200   1.30   1.50    1.8

--- Statistics for Iris-virginica ---
               count     mean        std    min      25%     50%      75%  \
Id              50.0  125.500  14.577380  101.0  113.250  125.50  137.750
SepalLengthCm   50.0    6.588   0.635880    4.9    6.225    6.50    6.900
SepalWidthCm    50.0    2.974   0.322497    2.2    2.800    3.00    3.175
PetalLengthCm   50.0    5.552   0.551895    4.5    5.100    5.55    5.875
PetalWidthCm    50.0    2.026   0.274650    1.4    1.800    2.00    2.300

                 max
Id             150.0
SepalLengthCm    7.9
SepalWidthCm     3.8
PetalLengthCm    6.9
PetalWidthCm     2.5

NBA Dataset

In [24]:
# Load NBA data
nba_df = pd.read_csv("nba.csv")

In [25]:
print(nba_df.isnull().sum())

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [26]:
# Handle missing values
nba_df["College"] = nba_df["College"].fillna(nba_df["College"].mode()[0])
nba_df["Salary"] = nba_df["Salary"].fillna(nba_df["Salary"].mean())
nba_df.dropna(inplace=True)

In [27]:
# Group by Height and get salary summary
height_groups = nba_df.groupby("College")["Salary"].describe()
print(height_groups)

                  count          mean           std        min        25%  \
College
Alabama             3.0  1.421686e+06  6.336200e+05   845059.0  1082529.5
Arizona            13.0  3.325948e+06  3.325132e+06   206192.0   947276.0
Arizona State       2.0  7.933941e+06  1.106268e+07   111444.0  4022692.5
Arkansas            3.0  2.713180e+06  3.316201e+06   261894.0   826527.0
Baylor              1.0  9.813480e+05           NaN   981348.0   981348.0
...                 ...           ...           ...        ...        ...
Western Michigan    1.0  8.450590e+05           NaN   845059.0   845059.0
Wichita State       1.0  8.450590e+05           NaN   845059.0   845059.0
Wisconsin           5.0  1.974492e+06  1.398229e+06   525093.0  1035000.0
Wyoming             1.0  1.155600e+06           NaN  1155600.0  1155600.0
Xavier              1.0  1.499187e+06           NaN  1499187.0  1499187.0

                        50%         75%         max
College
Alabama           1320000.0   1710000.0   2100000.0
Arizona           2841960.0   4000000.0  11710456.0
Arizona State     7933941.0  11845189.5  15756438.0
Arkansas          1391160.0   3938823.0   6486486.0
Baylor             981348.0    981348.0    981348.0
...                     ...         ...         ...
Western Michigan   845059.0    845059.0    845059.0
Wichita State      845059.0    845059.0    845059.0
Wisconsin         1646400.0   2612520.0   4053446.0
Wyoming           1155600.0   1155600.0   1155600.0
Xavier            1499187.0   1499187.0   1499187.0

[118 rows x 8 columns]